@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.h-screen {
  height: 100vh;
}

.w-16 {
  width: 4rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-white {
  background-color: #fff;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.left-0 {
  left: 0;
}

.lg\\:left-5 {
  left: 1.25rem;
}
/* 
.toggle-icon{
  @apply relative flex items-center justify-center
  h-8 w-11 mt-2 mb-2 mx-auto  
  hover:bg-green-600
  text-green-500 hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;
}

.toggle-icon:hover {
  background-color: #34d399;
  color: #fff;
  border-radius: 1.5rem;
}

.sidebar-icon {
  @apply relative flex items-center justify-center
  h-8 w-8 mt-2 mb-2 mx-auto  
  hover:bg-green-600
   hover:text-white
  hover:rounded-xl rounded-3xl
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;
}

.sidebar-icon:hover {
  background-color: #34d399;
  color: #fff;
  border-radius: 1.5rem;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
  text-white bg-green-600
  text-xs font-bold 
  transition-all duration-100 scale-0 origin-left;
}

.group:hover .sidebar-tooltip {
  scale: 1;
} */
